* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: radial-gradient(
        circle at top center,
        #7facd8 0%,
        #6cd8dc 40%,
        #20446d 100%
    );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    width: 380px;
    margin-bottom: 28px;
    padding-left: 6px;
    text-align: left;
}

header h1 {
    font-weight: 600;
    font-size: 38px;
    color: #2c3e50;
}

header p {
    font-size: 17px;
    color: #6d6262;
    margin-top: 4px;
}



main {
    background: #ffffff;
    width: 380px;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Task Input */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 18px;
}

.task-input input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    outline: none;
    font-size: 14px;
}

.task-input input:focus {
    border-color: #2563eb;
}

.task-input button {
    background: #258feb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
}

.task-input button:hover {
    background: #1e4fd6;
}

/* Filters */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filters button {
    flex: 1;
    margin: 0 4px;
    padding: 6px 0;
    border-radius: 8px;
    border: none;
    background: #e5e7eb;
    font-size: 13px;
    cursor: pointer;
}

.filters .filter-all.active {
    background: #258feb; /* Blue */
    color: white;
}

.filters .filter-completed.active {
    background: #16a34a; /* Green */
    color: white;
}

.filters .filter-pending.active {
    background: #f59e0b; /* Orange */
    color: white;
}

/* Error & Loading */
.error {
    color: #dc2626;
    text-align: center;
    font-size: 13px;
    margin-bottom: 8px;
}

#loading {
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 10px;
}

/* Task List */
ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #f9fafb;
}

li:hover {
    background: #f3f4f6;
}

li.completed span {
    text-decoration: line-through;
    color: #9ca3af;
}

li span {
    flex: 1;
    font-size: 14px;
}

/* Checkbox */
li input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Delete Button */
.delete-btn {
    background: transparent;
    border: none;
    color: #ef4444;
    font-size: 13px;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}
